html {
	margin: 20px;
	background-color: #00ffff;
}

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   color: #333;
	 padding-left: 11em;
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5em;
    left: 1em;
    width: 9em;
}

ul.navbar li {
	 background: white;
	 margin: 0.5em 0;
	 padding: 0.3em;
	 border-right: 1em solid black;
}
ul.navbar a {
	 text-decoration: none;
}
a:link {
 color: blue;
}
a:visited {
	color: purple;
}

h1 {
	font-size: 50px;
}

p {
	font-size: 20px;
	color: #E321A9;
}
